<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.exerciseBackend.mapper.ExerciseTrxMapper">
    <insert id="insertExercise">
        <selectKey keyProperty="seq" resultType="int" order="BEFORE">
            SELECT COALESCE(MAX(SEQ) + 1, 1) AS SEQ FROM EXERCISE_DETAIL
        </selectKey>
        INSERT INTO EXERCISE_DETAIL(
            SEQ
            , CODE
            , SET_NUMBER
            , TIMES
            , WEIGHT
            , EXERCISE_DATE
        )
        VALUES (
            #{seq}
            , #{code}
            , #{setNumber}
            , #{times}
            , #{weight}
            , #{exerciseDate}
        )
    </insert>

    <update id="updateExercise">
        update exercise_detail
           set
            code = #{code}
            , set_number = #{setNumber}
            , times = #{times}
            , weight = #{weight}
            , exercise_date = #{exerciseDate}
        where seq = #{seq}
    </update>

    <delete id="deleteExercise">
        delete from exercise_detail
         where seq = #{seq}
    </delete>
</mapper>